.hmu-filter {
    position: relative;
}
.hmu-container {
    width: 100%;
    margin: auto;
    min-width: 200px;
}
.hmu-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
   width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;

}

.hmu_filter_attributes {
    height: 20px;
    max-width: 50px;
    width: 100%;
}
.hmucol-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
.hmucol-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.hmucol-sm-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}
.hmucol-sm-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}
@media(max-width: 991px) {
    .hmu_filter_attributes {
        float: left;
    }
}
.disabled {
    opacity: 0.2;
}
.hmu-active label, .hmu-active span {
    opacity: 0.7;
}
.hmu-hide-input {
    visibility: hidden;
    opacity: 0;
}
.hmu-label {
    cursor: pointer;
}
/*
 * loader
 */

.hmu-loader{
    display: none;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#hmuloader-2 span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #3498db;
    margin: 35px 5px;
}

#hmuloader-2 span:nth-child(1){
    animation: bounce 1s ease-in-out infinite;
}

#hmuloader-2 span:nth-child(2){
    animation: bounce 1s ease-in-out 0.33s infinite;
}

#hmuloader-2 span:nth-child(3){
    animation: bounce 1s ease-in-out 0.66s infinite;
}

@keyframes bounce{
    0%, 75%, 100%{
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    25%{
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
.load-ajax .hmu-loader {
    display: block;
}
.load-ajax .hmu-container {
    opacity: 0.7;
}